*{
padding:0;
margin:0;
box-sizing:border-box;
}
/*navbar start*/
.navbar-custom .navbar-nav .nav-link {
    color: white;
    padding: .75rem 1rem;
	font-size:16px;
	font-family:"Trirong", serif;
	font-weight:bold;
}
.navbar-custom .nav-item:hover .nav-link{
	color:black;
}
.navbar-custom .nav-item:active .nav-link{
	color:gray;
}
.navbar-custom {
    background-color:#FF3659;
}
.navbar-custom .navbar-expand-md{
	background-color:#FF3659;
}
 .dropdown-item{
	color: white;
    padding:10px;
	font-size:16px;
	font-family:"Trirong", serif;
	font-weight:bold;
	background-color:transparent;
}
/*navbar end*/

/*banner start*/
#banner{
	background:url('pexels-photo-1229414.jpeg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	margin-bottom:0;
	height:550px;
	margin-top:30px;
}
#banner h2{
	color:white;
	font-family:"Apple Chancery", cursive;
	letter-spacing:1px;
	word-spacing:1px;
	text-align:left;
	font-size:40px;
	margin-left:0;
}
#banner h1{
	color:white;
	font-family:"Trirong", serif;
	letter-spacing:1px;
	word-spacing:1px;
	text-align:left;
	font-size:50px;
}
#banner .heading{
	color:#FF3659;
	font-family:"Sofia", sans-serif;
	letter-spacing:1px;
	font-size:70px;
	word-spacing:1px;
	text-align:left;
}
#banner button{
	color:white;
	background-color:transparent;
	font-size:20px;
	font-family:"Trirong", serif;
	width:250px;
	border:2px solid #FF3659;
	font-weight:bold;
	margin-top:10px;
	
	margin-bottom:20px;
}
#banner a{
	text-decoration:none;
	color:white;
}

#banner button:hover{
	background:#FF3659;
}
/*banner end*/

/*homepage start*/
#home{
	background-color:#FF3659;
	margin-top:0;
	
}
#home  h1{
	font-family:"Sofia", sans-serif;
	padding:20px;
	font-size:40px;
	text-align:center;
	word-spacing:1px;
	font-weight:bold;
	color:black;
	text-align:center;
}
#home .row p{
	text-align:justify;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	color:white;
	font-family:"Trirong", serif;
}
/*homepage end*/

/*services start*/
#services_types {
	background:#2E2E2E;
	padding:30px;
	margin-top:30px;
}

#services_types h1{
	color:#FF3659;
	font-size:50px;
	font-family:"Sofia", sans-serif;
	text-align:center;
	font-weight:bold;
	letter-spacing:1px;
	word-spacing:1px;
	padding-top:20px;
}
#services_types .img-fluid{
	width:100%;
	margin-top:10px;
	height:400px;
	padding-bottom:10px;
}
#services_types p{
	text-align:justify;
	font-size:20px;
	color:white;
	font-family:"Trirong", serif;
}
#services_types h3{
	font-family:"Sofia", sans-serif;
	text-align:center;
	font-weight:bold;
	color:#FF3659;
	letter-spacing:1px;
	word-spacing:1px;
}
#services_types tbody{
	font-family:"Trirong", serif;
}
#service-types h1{
	font-size:40px;
	font-family:"Sofia", sans-serif;
	font-weight:bold;
}
#service-types .card {
	border:2px solid black;
	margin-bottom:10px;
}
#service-types .card .card-body .card-title{
			font-size:30px;
			font-family:"Trirong", serif;
			font-weight:bold;
			color:#FF3659;
		}
/*service end*/

/*review start*/
#client{
	margin-left:0;
	width:100%;
}
#client h1{
	font-size:40px;
	font-family:"Sofia", sans-serif;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
}
#client .slider-area{
	background:#FF3659;
	padding:20px 0;
	position:relative;
	margin:10px 0;
}
#client .img-area{
	width:200px;
	height:200px;
	margin:auto;
	overflow:hidden;
	border:2px solid black;
	border-radius:50%;
}
#client .img-area img{
	width:100%;
	height:100%;
}
#client .carousel-caption{
	position:static;
	padding-bottom:15px;
	padding-top:0;
}
#client .carousel-caption h2{
	font-family:"Sofia", sans-serif;
	margin-top:5px;
}
#client .carousel-caption p{
	padding-bottom:10px;
	text-align:center;
	font-size:18px;
	font-family:"Trirong", serif;
}
/*review end*/


#gallary{
	background:gray;
	margin-top:0;
}
#gallary h1{
	color:black;
	font-size:40px;
	text-align:center;
	word-spacing:1px;
	font-family:"Sofia", sans-serif;
	font-weight:bold;
	letter-spacing:1px;
}
#gallary img{
	width:180px;
	height:180px;
}

#specialities{
	background:#FF3659;
	padding-top:10px;
}
#box1{
	background:white;
	opacity:0.9;
}
#box1 .fa{
	width:30px;
	font-size:40px;
	color:black;
	position:relative;
	left:40%;
	padding-bottom:10px;
}
#specialities h1{
	color:black;
	font-size:40px;
	text-align:center;
	word-spacing:1px;
	font-family:"Sofia", sans-serif;
	font-weight:bold;
	letter-spacing:1px;
	padding-bottom:10px;
}
#box1 h4{
	padding-top:20px;
	font-family:"Trirong", serif;
	color:#FF3659;
	text-align:center;
	font-weight:bold;

}
#box1 p{
	font-family:"Trirong", serif;
	color:black;
	text-align:justify;
	padding-bottom:20px;
	text-align:20px;
}

#service {
	margin-top:30px;
}
#service h1{
			padding-top:60px;
			font-size:40px;
			font-family:"Sofia", sans-serif;
			font-weight:bold;
		}
#service p{
	font-family:"Trirong", sans-serif;
	font-size:20px;
	color:black;
	
}
#service  .card .card-body{
			background:#2E2E2E;
			margin-bottom:10px;
		}
#service .card .card-body .card-title{
			font-size:30px;
			font-family:"Trirong", serif;
			font-weight:bold;
			color:#FF3659;
		}
#service .card .card-body .card-text{
			font-family:"Trirong", sans-serif;
			font-size:16px;
			color:white;
		}
#service .card .card-body  ul{
	list-style-type:none;
	text-decoration:none;
	font-size:14px;
}
#service  .card .card-body  ul li{
	font-family:"Trirong", sans-serif;
}
#service .card .card-img-top:hover{
			cursor:pointer;
			opacity:0.6;
		}
#service  .button{
	background-color:transparent;
	font-family:"Trirong", serif;
	width:80%;
	margin-left:25px;
	border:2px solid #FF3659;
}
#service  .button a{
	color:white;
	text-decoration:none;
	font-size:18px;
	opacity:0.9;
}
#service .col-sm-4  .button:hover{
	background:#FF3659;
}
/*about us*/
#about{
	background:#2E2E2E;
	margin-top:40px;
}
#about h1{
	font-family:"Sofia", sans-serif;
	padding:10px;
	padding-top:40px;
	font-weight:bold;
	font-size:40px;
	text-align:center;
	word-spacing:1px;
	color:#FF3659;
	text-align:center;
}
#about .col p{
	text-align:justify;
	padding-left:10px;
	padding-right:10px;
	font-size:20px;
	color:white;
	font-family:"Trirong", serif;
}
#team{
	background:#FF3659;
	padding-top:10px;
}
#team h1{
	font-family:"Sofia", sans-serif;
	padding:20px;
	font-size:40px;
	text-align:center;
	word-spacing:1px;
	font-weight:bold;
	color:black;
	text-align:center;
}
#team  p{
	text-align:center;
	font-size:20px;
	color:white;
	font-family:"Trirong", serif;
}
#team .card-body{
	background:white;
}
.card-body .card-title{
	font-family:"Trirong", serif;
	font-size:22px;
}
.card-body .card-text{
	font-family:"Trirong", serif;
	letter-spacing:1px;
	font-size:18px;
	color:#FF3659;
}
/*about us end*/

/*Appointment*/
#appointment{
	width:100%;
	height:100%;
	background:#2E2E2E;
	padding-top:80px;
}
#bookform{
	background:url('pexels-photo-2328149.jpeg');
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	height:600px;
	padding-top:60px;
	padding-bottom:60px;
	
}
#appointment  h1{
	color:#FF3659;
	font-size:40px;
	text-align:center;
	word-spacing:1px;
	font-family:"Sofia", sans-serif;
	font-weight:bold;
}
#appointment p{
	text-align:center;
	font-family:"Trirong", serif;
	font-size:18px;
	color:white;
}
#appointment label{
	font-family:"Trirong", serif;
	margin-left:5px;
	color:white;
	font-size:20px;
}
#appointment button{
	background-color:transparent;
	font-family:"Trirong", serif;
	text-decoration:none;
	border:2px solid #FF3659;
}
#appointment  a{
color:white;
	text-decoration:none;
	font-size:18px;
	opacity:0.9;
}
#appointment button:hover{
	background:#FF3659;
}

/*Contact us*/
#contact-us img{
	width:100%;
	height:300px;
}
#contact-us {
	background:#2E2E2E;
} 
 #contact-us h1{
	 margin-top:30px;
	color:#FF3659;
	font-size:40px;
	font-family:"Sofia", sans-serif;
	text-align:center;
}
#contact-us  h3{
	color:white;
	font-size:30px;
	font-family:"Sofia", sans-serif;
	margin-top:40px;
	margin-left:20px;
}
#contact-us p{
	color:white;
	letter-spacing:1px;
	font-size:18px;
	font-family:"Trirong", serif;
	
	text-align:justify;
}
#form2{
	margin-left:25%;
	height:450px;
	
}
#form2 input,textarea{
	background:white;
	width:75%;
	margin-bottom:5px;
}
#form2 label{
	color:white;
	font-family:"Trirong", serif;
	font-size:18px;
}
#form2 button{
	color:white;
	background-color:transparent;
	font-size:28px;
	font-family:"Trirong", serif;
	width:75%;
	border:2px solid #FF3659;
	
}
#form2 button:hover{
	background:#FF3659;
}
.icons{
	margin-left:30px;
	margin-top:0;
	
}
.fa{
	width:30px;
	font-size:30px;
	margin-left:10px;
	text-decoration:none;
	color:white;
	border-radius:50%;
	 text-align: center;
}
.fa-facebook {
	 background: #3B5998;
}
.fa-twitter {
	 background: #55ACEE;
}
.fa-instagram {
	  background: #E1306C;
}
.fa-whatsapp{
	background:#25D366;
}
.fa-phone{
	width:20px;
	font-size:20px;
	background:#7f8ff9;
}
.fa-envelope{
	width:20px;
	font-size:20px;
	color:#D44638;
}
.fa:hover {
	text-decoration:none;
}

/*footer*/
#footer{
	background:#000000;
	padding-left:40px;
}
#footer h4{
	color:#FF3659;
	font-family:"Sofia", sans-serif;
	word-spacing:1px;
	font-weight:bold;
	letter-spacing:1px;
	font-size:25px;
	padding-top:10px;
	text-align:left;
}
#footer .col-md-3 a{
	color:white;
	font-family:"Trirong", serif;
	text-decoration:none;
	text-align:left;
}
#footer .col-md-3 p{
	color:white;
	font-family:"Trirong", serif;
	font-size:15px;
	text-align:left;
}
#footer .col-md-3  i{
	margin-bottom:20px;
}
.box img{
	width:200px;
	height:200px;
	margin-top:10px;
	cursor:pointer;
	color:white;
}
#footer1{
	background:#FF3659;
	padding-top:5px;
}
#footer1 p{
	font-size:15px;
	font-family:"Trirong", serif;
	word-spacing:1px;
	color:white;
	letter-spacing:1px;
}